header{
    background-color: #22577A;
}
nav{
    background-color: #57CC99;
}
section{
    background-color: #38A3A5;
    grid-column: 5/5;
}
h2{
    text-align:center;
}

footer{
    background-color: #22577A;
}
div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
